[submodule "main/.local/share/nvm"]
	path = main/.local/share/nvm
	url = https://github.com/nvm-sh/nvm
[submodule "main/.local/share/oh-my-zsh"]
	path = main/.local/share/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "main/.local/share/oh-my-zsh-custom/plugins/zsh-autosuggestions"]
	path = main/.local/share/oh-my-zsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "main/.local/share/oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
	path = main/.local/share/oh-my-zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "main/.local/share/oh-my-zsh-custom/plugins/zsh-completions"]
	path = main/.local/share/oh-my-zsh-custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "main/.local/share/oh-my-zsh-custom/plugins/autoswitch_virtualenv"]
	path = main/.local/share/oh-my-zsh-custom/plugins/autoswitch_virtualenv
	url = https://github.com/MichaelAquilina/zsh-autoswitch-virtualenv
[submodule "main/.config/nano/nano-syntax-highlighting"]
	path = main/.config/nano/nano-syntax-highlighting
	url = https://github.com/galenguyer/nano-syntax-highlighting
