"$schema" = "https://starship.rs/config-schema.json"

format = """
[](fg:red)\
$os\
$hostname\
$username\
$sudo\

[](fg:red bg:peach)\
$directory\

[](fg:peach bg:yellow)\
$git_branch\
$git_commit\
$git_state\
$git_status\
[ ](bg:yellow)\

[](fg:yellow bg:green)\
$python\
$nodejs\
$java\
$kotlin\
$gradle\
$rust\
$swift\
$package\
[ ](bg:green)\

[](fg:green bg:sapphire)\
$cmd_duration\
[ ](bg:sapphire)\

[](fg:sapphire bg:lavender)\
$time\

[ ](fg:lavender)\
$line_break\
$character\
"""

add_newline = false
continuation_prompt = '▶▶ '

palette = "catppuccin"

[palettes.catppuccin]
rosewater = "#f4dbd6"
flamingo  = "#f0c6c6"
pink      = "#f5bde6"
mauve     = "#c6a0f6"
red       = "#ed8796"
maroon    = "#ee99a0"
peach     = "#f5a97f"
yellow    = "#eed49f"
green     = "#a6da95"
teal      = "#8bd5ca"
sky       = "#91d7e3"
sapphire  = "#7dc4e4"
blue      = "#8aadf4"
lavender  = "#b7bdf8"
text      = "#cad3f5"
subtext1  = "#b8c0e0"
subtext0  = "#a5adcb"
overlay2  = "#939ab7"
overlay1  = "#8087a2"
overlay0  = "#6e738d"
surface2  = "#5b6078"
surface1  = "#494d64"
surface0  = "#363a4f"
base      = "#24273a"
mantle    = "#1e2030"
crust     = "#181926"


[os]
disabled = false
style    = "bg:red fg:crust"
format   = "[$symbol ]($style)"

[os.symbols]
Windows          = ""
Ubuntu           = "󰕈"
SUSE             = ""
Raspbian         = "󰐿"
Mint             = "󰣭"
Macos            = "󰀵"
Manjaro          = ""
Linux            = "󰌽"
Gentoo           = "󰣨"
Fedora           = "󰣛"
Alpine           = ""
Amazon           = ""
Android          = ""
Arch             = "󰣇"
Artix            = "󰣇"
CentOS           = ""
Debian           = "󰣚"
Redhat           = "󱄛"
RedHatEnterprise = "󱄛"

[hostname]
disabled = false
style    = "bg:red fg:crust"
format   = "[$hostname: ]($style)"

[username]
disabled    = false
show_always = true
style_user  = "bg:red fg:crust"
style_root  = "bg:red fg:crust"
format      = "[$user ]($style)"

[sudo]
disabled = false
symbol   = ""
style    = "bg:red fg:crust"
format   = "[$symbol ]($style)"


[directory]
disabled          = false
truncation_length = 5
truncation_symbol = "…/"
read_only_style   = "bg:peach fg:crust"
read_only         = ""
style             = "bg:peach fg:crust"
format            = "([ $read_only]($read_only_style))[ $path ]($style)"


[git_branch]
disabled = false
symbol   = ""
style    = "bg:yellow fg:crust"
format   = "[ $symbol $branch(:$remote_branch)]($style)"

[git_commit]
disabled     = false
tag_disabled = false
tag_symbol   = " "
style        = "bg:yellow fg:crust"
format       = "[ \\($hash( $tag)\\)]($style)"

[git_state]
disabled = false
style    = "bg:yellow fg:crust"
format   = "[ $state($progress_current/$progress_total)]($style)"

[git_status]
disabled    = false

ahead       = "$count"
behind      = "$count"
diverged    = "$ahead_count $behind_count"
up_to_date  = ""
conflicted  = "$count"
stashed     = "󰢰$count"
untracked   = "?$count"
modified    = "!$count"
staged      = "$count"
renamed     = "$count"
deleted     = "$count"
typechanged = ""

style       = "bg:yellow fg:crust"
format      = """
[\
( $ahead_behind)\
( $conflicted)\
( $stashed)\
( $untracked)\
( $modified)\
( $staged)\
( $renamed)\
( $deleted)\
]($style)\
"""


[python]
disabled = false
symbol   = "󰌠"
style    = "bg:green fg:crust"
format   = "[ $symbol( $version)( \\($virtualenv\\))]($style)"

[nodejs]
disabled = false
symbol   = ""
style    = "bg:green fg:crust"
format   = "[ $symbol( $version)]($style)"

[java]
disabled = false
symbol   = ""
style    = "bg:green fg:crust"
format   = "[ $symbol( $version)]($style)"

[kotlin]
disabled = false
symbol   = "󱈙"
style    = "bg:green fg:crust"
format   = "[ $symbol( $version)]($style)"

[gradle]
disabled = false
symbol   = "󰫴"
style    = "bg:green fg:crust"
format   = "[ $symbol( $version)]($style)"

[rust]
disabled = false
symbol   = "󱘗"
style    = "bg:green fg:crust"
format   = "[ $symbol( $version)]($style)"

[swift]
disabled = false
symbol   = "󰛥"
style    = "bg:green fg:crust"
format   = "[ $symbol( $version)]($style)"

[package]
disabled = false
symbol   = ""
style    = "bg:green fg:crust"
format   = "[ $symbol $version]($style)"


[cmd_duration]
disabled           = false
show_milliseconds  = true
min_time           = 2_000
show_notifications = true
min_time_to_notify = 45_000
style              = "bg:sapphire fg:crust"
format             = "[ $duration]($style)"


[time]
disabled    = false
time_format = "%R"
style       = "bg:lavender fg:crust"
format      = "[  $time]($style)"


[line_break]
disabled = false


[character]
disabled       = false
success_symbol = "[ ](bold fg:green)"
error_symbol   = "[ ](bold fg:red)"
